@keyframes rotation {
	from {
		transform: rotate(0deg)
		           translate(var(--translate))
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(var(--translate)) 
		           rotate(-360deg);
	}
}

.moon-body {
    background-color: lightskyblue;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    position: absolute;
    animation: rotation var(--tto) infinite linear;
}