@keyframes moonRotation {
	from {
		transform: rotate(var(--fromPosition))
		           translate(var(--translate));
	}
	to {
		transform: rotate(var(--toPosition))
		           translate(var(--translate));
	}
}

.moon-body {
    background-color: lightskyblue;
    height: var(--moonSize);
    width: var(--moonSize);
    border-radius: 50%;
    position: absolute;
    animation: moonRotation var(--tto) infinite linear;
}