.space-container {
    background-color: rgb(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    zoom: var(--zoom);
}