@keyframes planetSystemRotation {
	from {
		transform: rotate(var(--fromPosition))
		           translate(var(--translate));
	}
	to {
		transform: rotate(var(--toPosition))
		           translate(var(--translate));
	}
}

.planet-system {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    position: absolute;
	animation: planetSystemRotation var(--tto) infinite linear;
    z-index: 10;
}